src/main/java/Replicas/FaraazBackup/VERImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://example.com/ver" name="VERImplService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/ver" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.com/ver" schemaLocation="VERImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addMovieSlotsVER">
    <part name="parameters" element="tns:addMovieSlotsVER"/>
  </message>
  <message name="addMovieSlotsVERResponse">
    <part name="parameters" element="tns:addMovieSlotsVERResponse"/>
  </message>
  <message name="logVER">
    <part name="parameters" element="tns:logVER"/>
  </message>
  <message name="logVERResponse">
    <part name="parameters" element="tns:logVERResponse"/>
  </message>
  <message name="listMovieShowsAvailabilityVER">
    <part name="parameters" element="tns:listMovieShowsAvailabilityVER"/>
  </message>
  <message name="listMovieShowsAvailabilityVERResponse">
    <part name="parameters" element="tns:listMovieShowsAvailabilityVERResponse"/>
  </message>
  <message name="removeMovieSlotsVER">
    <part name="parameters" element="tns:removeMovieSlotsVER"/>
  </message>
  <message name="removeMovieSlotsVERResponse">
    <part name="parameters" element="tns:removeMovieSlotsVERResponse"/>
  </message>
  <message name="cancelMovieTicketsVER">
    <part name="parameters" element="tns:cancelMovieTicketsVER"/>
  </message>
  <message name="cancelMovieTicketsVERResponse">
    <part name="parameters" element="tns:cancelMovieTicketsVERResponse"/>
  </message>
  <message name="bookMovieTicketsVER">
    <part name="parameters" element="tns:bookMovieTicketsVER"/>
  </message>
  <message name="bookMovieTicketsVERResponse">
    <part name="parameters" element="tns:bookMovieTicketsVERResponse"/>
  </message>
  <message name="getBookingScheduleVER">
    <part name="parameters" element="tns:getBookingScheduleVER"/>
  </message>
  <message name="getBookingScheduleVERResponse">
    <part name="parameters" element="tns:getBookingScheduleVERResponse"/>
  </message>
  <portType name="VERImpl">
    <operation name="addMovieSlotsVER">
      <input wsam:Action="http://example.com/ver/VERImpl/addMovieSlotsVERRequest" message="tns:addMovieSlotsVER"/>
      <output wsam:Action="http://example.com/ver/VERImpl/addMovieSlotsVERResponse" message="tns:addMovieSlotsVERResponse"/>
    </operation>
    <operation name="logVER">
      <input wsam:Action="http://example.com/ver/VERImpl/logVERRequest" message="tns:logVER"/>
      <output wsam:Action="http://example.com/ver/VERImpl/logVERResponse" message="tns:logVERResponse"/>
    </operation>
    <operation name="listMovieShowsAvailabilityVER">
      <input wsam:Action="http://example.com/ver/VERImpl/listMovieShowsAvailabilityVERRequest" message="tns:listMovieShowsAvailabilityVER"/>
      <output wsam:Action="http://example.com/ver/VERImpl/listMovieShowsAvailabilityVERResponse" message="tns:listMovieShowsAvailabilityVERResponse"/>
    </operation>
    <operation name="removeMovieSlotsVER">
      <input wsam:Action="http://example.com/ver/VERImpl/removeMovieSlotsVERRequest" message="tns:removeMovieSlotsVER"/>
      <output wsam:Action="http://example.com/ver/VERImpl/removeMovieSlotsVERResponse" message="tns:removeMovieSlotsVERResponse"/>
    </operation>
    <operation name="cancelMovieTicketsVER">
      <input wsam:Action="http://example.com/ver/VERImpl/cancelMovieTicketsVERRequest" message="tns:cancelMovieTicketsVER"/>
      <output wsam:Action="http://example.com/ver/VERImpl/cancelMovieTicketsVERResponse" message="tns:cancelMovieTicketsVERResponse"/>
    </operation>
    <operation name="bookMovieTicketsVER">
      <input wsam:Action="http://example.com/ver/VERImpl/bookMovieTicketsVERRequest" message="tns:bookMovieTicketsVER"/>
      <output wsam:Action="http://example.com/ver/VERImpl/bookMovieTicketsVERResponse" message="tns:bookMovieTicketsVERResponse"/>
    </operation>
    <operation name="getBookingScheduleVER">
      <input wsam:Action="http://example.com/ver/VERImpl/getBookingScheduleVERRequest" message="tns:getBookingScheduleVER"/>
      <output wsam:Action="http://example.com/ver/VERImpl/getBookingScheduleVERResponse" message="tns:getBookingScheduleVERResponse"/>
    </operation>
  </portType>
  <binding name="VERImplPortBinding" type="tns:VERImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addMovieSlotsVER">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="logVER">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listMovieShowsAvailabilityVER">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeMovieSlotsVER">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelMovieTicketsVER">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookMovieTicketsVER">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBookingScheduleVER">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="VERImplService">
    <port name="VERImplPort" binding="tns:VERImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

