src/main/java/MasterServerImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://example.com/master" name="MasterServerImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://example.com/master" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types/>
  <message name="addMovieSlots">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:int"/>
  </message>
  <message name="addMovieSlotsResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="createATWObject"/>
  <message name="createATWObjectResponse"/>
  <message name="cancelMovieTickets">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:int"/>
  </message>
  <message name="cancelMovieTicketsResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="listMovieShowsAvailability">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="listMovieShowsAvailabilityResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="createOUTObject"/>
  <message name="createOUTObjectResponse"/>
  <message name="exchangeTickets">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:string"/>
    <part name="arg4" type="xsd:string"/>
    <part name="arg5" type="xsd:int"/>
  </message>
  <message name="exchangeTicketsResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="bookMovieTickets">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:int"/>
  </message>
  <message name="bookMovieTicketsResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="createVERObject"/>
  <message name="createVERObjectResponse"/>
  <message name="getBookingSchedule">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="getBookingScheduleResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="removeMovieSlots">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
  </message>
  <message name="removeMovieSlotsResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="MasterServerImpl">
    <operation name="addMovieSlots" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://example.com/master/MasterServerImpl/addMovieSlotsRequest" message="tns:addMovieSlots"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/addMovieSlotsResponse" message="tns:addMovieSlotsResponse"/>
    </operation>
    <operation name="createATWObject">
      <input wsam:Action="http://example.com/master/MasterServerImpl/createATWObjectRequest" message="tns:createATWObject"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/createATWObjectResponse" message="tns:createATWObjectResponse"/>
    </operation>
    <operation name="cancelMovieTickets" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://example.com/master/MasterServerImpl/cancelMovieTicketsRequest" message="tns:cancelMovieTickets"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/cancelMovieTicketsResponse" message="tns:cancelMovieTicketsResponse"/>
    </operation>
    <operation name="listMovieShowsAvailability">
      <input wsam:Action="http://example.com/master/MasterServerImpl/listMovieShowsAvailabilityRequest" message="tns:listMovieShowsAvailability"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/listMovieShowsAvailabilityResponse" message="tns:listMovieShowsAvailabilityResponse"/>
    </operation>
    <operation name="createOUTObject">
      <input wsam:Action="http://example.com/master/MasterServerImpl/createOUTObjectRequest" message="tns:createOUTObject"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/createOUTObjectResponse" message="tns:createOUTObjectResponse"/>
    </operation>
    <operation name="exchangeTickets" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
      <input wsam:Action="http://example.com/master/MasterServerImpl/exchangeTicketsRequest" message="tns:exchangeTickets"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/exchangeTicketsResponse" message="tns:exchangeTicketsResponse"/>
    </operation>
    <operation name="bookMovieTickets" parameterOrder="arg0 arg1 arg2 arg3">
      <input wsam:Action="http://example.com/master/MasterServerImpl/bookMovieTicketsRequest" message="tns:bookMovieTickets"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/bookMovieTicketsResponse" message="tns:bookMovieTicketsResponse"/>
    </operation>
    <operation name="createVERObject">
      <input wsam:Action="http://example.com/master/MasterServerImpl/createVERObjectRequest" message="tns:createVERObject"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/createVERObjectResponse" message="tns:createVERObjectResponse"/>
    </operation>
    <operation name="getBookingSchedule">
      <input wsam:Action="http://example.com/master/MasterServerImpl/getBookingScheduleRequest" message="tns:getBookingSchedule"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/getBookingScheduleResponse" message="tns:getBookingScheduleResponse"/>
    </operation>
    <operation name="removeMovieSlots" parameterOrder="arg0 arg1 arg2">
      <input wsam:Action="http://example.com/master/MasterServerImpl/removeMovieSlotsRequest" message="tns:removeMovieSlots"/>
      <output wsam:Action="http://example.com/master/MasterServerImpl/removeMovieSlotsResponse" message="tns:removeMovieSlotsResponse"/>
    </operation>
  </portType>
  <binding name="MasterServerImplPortBinding" type="tns:MasterServerImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="addMovieSlots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="createATWObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="cancelMovieTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="listMovieShowsAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="createOUTObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="exchangeTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="bookMovieTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="createVERObject">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="getBookingSchedule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
    <operation name="removeMovieSlots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://example.com/master"/>
      </output>
    </operation>
  </binding>
  <service name="MasterServerImplService">
    <port name="MasterServerImplPort" binding="tns:MasterServerImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

