src/main/java/Replicas/Replica3/ATWImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://example.com/atw" name="ATWImplService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/atw" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.com/atw" schemaLocation="ATWImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="logATW">
    <part name="parameters" element="tns:logATW"/>
  </message>
  <message name="logATWResponse">
    <part name="parameters" element="tns:logATWResponse"/>
  </message>
  <message name="addMovieSlotsATW">
    <part name="parameters" element="tns:addMovieSlotsATW"/>
  </message>
  <message name="addMovieSlotsATWResponse">
    <part name="parameters" element="tns:addMovieSlotsATWResponse"/>
  </message>
  <message name="cancelMovieTicketsATW">
    <part name="parameters" element="tns:cancelMovieTicketsATW"/>
  </message>
  <message name="cancelMovieTicketsATWResponse">
    <part name="parameters" element="tns:cancelMovieTicketsATWResponse"/>
  </message>
  <message name="bookMovieTicketsATW">
    <part name="parameters" element="tns:bookMovieTicketsATW"/>
  </message>
  <message name="bookMovieTicketsATWResponse">
    <part name="parameters" element="tns:bookMovieTicketsATWResponse"/>
  </message>
  <message name="getBookingScheduleATW">
    <part name="parameters" element="tns:getBookingScheduleATW"/>
  </message>
  <message name="getBookingScheduleATWResponse">
    <part name="parameters" element="tns:getBookingScheduleATWResponse"/>
  </message>
  <message name="removeMovieSlotsATW">
    <part name="parameters" element="tns:removeMovieSlotsATW"/>
  </message>
  <message name="removeMovieSlotsATWResponse">
    <part name="parameters" element="tns:removeMovieSlotsATWResponse"/>
  </message>
  <message name="listMovieShowsAvailabilityATW">
    <part name="parameters" element="tns:listMovieShowsAvailabilityATW"/>
  </message>
  <message name="listMovieShowsAvailabilityATWResponse">
    <part name="parameters" element="tns:listMovieShowsAvailabilityATWResponse"/>
  </message>
  <portType name="ATWImpl">
    <operation name="logATW">
      <input wsam:Action="http://example.com/atw/ATWImpl/logATWRequest" message="tns:logATW"/>
      <output wsam:Action="http://example.com/atw/ATWImpl/logATWResponse" message="tns:logATWResponse"/>
    </operation>
    <operation name="addMovieSlotsATW">
      <input wsam:Action="http://example.com/atw/ATWImpl/addMovieSlotsATWRequest" message="tns:addMovieSlotsATW"/>
      <output wsam:Action="http://example.com/atw/ATWImpl/addMovieSlotsATWResponse" message="tns:addMovieSlotsATWResponse"/>
    </operation>
    <operation name="cancelMovieTicketsATW">
      <input wsam:Action="http://example.com/atw/ATWImpl/cancelMovieTicketsATWRequest" message="tns:cancelMovieTicketsATW"/>
      <output wsam:Action="http://example.com/atw/ATWImpl/cancelMovieTicketsATWResponse" message="tns:cancelMovieTicketsATWResponse"/>
    </operation>
    <operation name="bookMovieTicketsATW">
      <input wsam:Action="http://example.com/atw/ATWImpl/bookMovieTicketsATWRequest" message="tns:bookMovieTicketsATW"/>
      <output wsam:Action="http://example.com/atw/ATWImpl/bookMovieTicketsATWResponse" message="tns:bookMovieTicketsATWResponse"/>
    </operation>
    <operation name="getBookingScheduleATW">
      <input wsam:Action="http://example.com/atw/ATWImpl/getBookingScheduleATWRequest" message="tns:getBookingScheduleATW"/>
      <output wsam:Action="http://example.com/atw/ATWImpl/getBookingScheduleATWResponse" message="tns:getBookingScheduleATWResponse"/>
    </operation>
    <operation name="removeMovieSlotsATW">
      <input wsam:Action="http://example.com/atw/ATWImpl/removeMovieSlotsATWRequest" message="tns:removeMovieSlotsATW"/>
      <output wsam:Action="http://example.com/atw/ATWImpl/removeMovieSlotsATWResponse" message="tns:removeMovieSlotsATWResponse"/>
    </operation>
    <operation name="listMovieShowsAvailabilityATW">
      <input wsam:Action="http://example.com/atw/ATWImpl/listMovieShowsAvailabilityATWRequest" message="tns:listMovieShowsAvailabilityATW"/>
      <output wsam:Action="http://example.com/atw/ATWImpl/listMovieShowsAvailabilityATWResponse" message="tns:listMovieShowsAvailabilityATWResponse"/>
    </operation>
  </portType>
  <binding name="ATWImplPortBinding" type="tns:ATWImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="logATW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addMovieSlotsATW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelMovieTicketsATW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookMovieTicketsATW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBookingScheduleATW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeMovieSlotsATW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listMovieShowsAvailabilityATW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ATWImplService">
    <port name="ATWImplPort" binding="tns:ATWImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

