src/main/java/Replicas/Replica3/MainServerImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://example.com/mainserver" name="MainServerImplService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/mainserver" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.com/mainserver" schemaLocation="MainServerImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addMovieSlots">
    <part name="parameters" element="tns:addMovieSlots"/>
  </message>
  <message name="addMovieSlotsResponse">
    <part name="parameters" element="tns:addMovieSlotsResponse"/>
  </message>
  <message name="cancelMovieTickets">
    <part name="parameters" element="tns:cancelMovieTickets"/>
  </message>
  <message name="cancelMovieTicketsResponse">
    <part name="parameters" element="tns:cancelMovieTicketsResponse"/>
  </message>
  <message name="listMovieShowsAvailability">
    <part name="parameters" element="tns:listMovieShowsAvailability"/>
  </message>
  <message name="listMovieShowsAvailabilityResponse">
    <part name="parameters" element="tns:listMovieShowsAvailabilityResponse"/>
  </message>
  <message name="bookMovieTickets">
    <part name="parameters" element="tns:bookMovieTickets"/>
  </message>
  <message name="bookMovieTicketsResponse">
    <part name="parameters" element="tns:bookMovieTicketsResponse"/>
  </message>
  <message name="removeMovieSlots">
    <part name="parameters" element="tns:removeMovieSlots"/>
  </message>
  <message name="removeMovieSlotsResponse">
    <part name="parameters" element="tns:removeMovieSlotsResponse"/>
  </message>
  <message name="getBookingSchedule">
    <part name="parameters" element="tns:getBookingSchedule"/>
  </message>
  <message name="getBookingScheduleResponse">
    <part name="parameters" element="tns:getBookingScheduleResponse"/>
  </message>
  <message name="exchangeTickets">
    <part name="parameters" element="tns:exchangeTickets"/>
  </message>
  <message name="exchangeTicketsResponse">
    <part name="parameters" element="tns:exchangeTicketsResponse"/>
  </message>
  <portType name="MainServerImpl">
    <operation name="addMovieSlots">
      <input wsam:Action="http://example.com/mainserver/MainServerImpl/addMovieSlotsRequest" message="tns:addMovieSlots"/>
      <output wsam:Action="http://example.com/mainserver/MainServerImpl/addMovieSlotsResponse" message="tns:addMovieSlotsResponse"/>
    </operation>
    <operation name="cancelMovieTickets">
      <input wsam:Action="http://example.com/mainserver/MainServerImpl/cancelMovieTicketsRequest" message="tns:cancelMovieTickets"/>
      <output wsam:Action="http://example.com/mainserver/MainServerImpl/cancelMovieTicketsResponse" message="tns:cancelMovieTicketsResponse"/>
    </operation>
    <operation name="listMovieShowsAvailability">
      <input wsam:Action="http://example.com/mainserver/MainServerImpl/listMovieShowsAvailabilityRequest" message="tns:listMovieShowsAvailability"/>
      <output wsam:Action="http://example.com/mainserver/MainServerImpl/listMovieShowsAvailabilityResponse" message="tns:listMovieShowsAvailabilityResponse"/>
    </operation>
    <operation name="bookMovieTickets">
      <input wsam:Action="http://example.com/mainserver/MainServerImpl/bookMovieTicketsRequest" message="tns:bookMovieTickets"/>
      <output wsam:Action="http://example.com/mainserver/MainServerImpl/bookMovieTicketsResponse" message="tns:bookMovieTicketsResponse"/>
    </operation>
    <operation name="removeMovieSlots">
      <input wsam:Action="http://example.com/mainserver/MainServerImpl/removeMovieSlotsRequest" message="tns:removeMovieSlots"/>
      <output wsam:Action="http://example.com/mainserver/MainServerImpl/removeMovieSlotsResponse" message="tns:removeMovieSlotsResponse"/>
    </operation>
    <operation name="getBookingSchedule">
      <input wsam:Action="http://example.com/mainserver/MainServerImpl/getBookingScheduleRequest" message="tns:getBookingSchedule"/>
      <output wsam:Action="http://example.com/mainserver/MainServerImpl/getBookingScheduleResponse" message="tns:getBookingScheduleResponse"/>
    </operation>
    <operation name="exchangeTickets">
      <input wsam:Action="http://example.com/mainserver/MainServerImpl/exchangeTicketsRequest" message="tns:exchangeTickets"/>
      <output wsam:Action="http://example.com/mainserver/MainServerImpl/exchangeTicketsResponse" message="tns:exchangeTicketsResponse"/>
    </operation>
  </portType>
  <binding name="MainServerImplPortBinding" type="tns:MainServerImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addMovieSlots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelMovieTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listMovieShowsAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookMovieTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeMovieSlots">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBookingSchedule">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="exchangeTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MainServerImplService">
    <port name="MainServerImplPort" binding="tns:MainServerImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

