src/main/java/Replicas/Replica3/OUTImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://example.com/out" name="OUTImplService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://example.com/out" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.com/out" schemaLocation="OUTImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="logOUT">
    <part name="parameters" element="tns:logOUT"/>
  </message>
  <message name="logOUTResponse">
    <part name="parameters" element="tns:logOUTResponse"/>
  </message>
  <message name="addMovieSlotsOUT">
    <part name="parameters" element="tns:addMovieSlotsOUT"/>
  </message>
  <message name="addMovieSlotsOUTResponse">
    <part name="parameters" element="tns:addMovieSlotsOUTResponse"/>
  </message>
  <message name="getBookingScheduleOUT">
    <part name="parameters" element="tns:getBookingScheduleOUT"/>
  </message>
  <message name="getBookingScheduleOUTResponse">
    <part name="parameters" element="tns:getBookingScheduleOUTResponse"/>
  </message>
  <message name="removeMovieSlotsOUT">
    <part name="parameters" element="tns:removeMovieSlotsOUT"/>
  </message>
  <message name="removeMovieSlotsOUTResponse">
    <part name="parameters" element="tns:removeMovieSlotsOUTResponse"/>
  </message>
  <message name="cancelMovieTicketsOUT">
    <part name="parameters" element="tns:cancelMovieTicketsOUT"/>
  </message>
  <message name="cancelMovieTicketsOUTResponse">
    <part name="parameters" element="tns:cancelMovieTicketsOUTResponse"/>
  </message>
  <message name="bookMovieTicketsOUT">
    <part name="parameters" element="tns:bookMovieTicketsOUT"/>
  </message>
  <message name="bookMovieTicketsOUTResponse">
    <part name="parameters" element="tns:bookMovieTicketsOUTResponse"/>
  </message>
  <message name="listMovieShowsAvailabilityOUT">
    <part name="parameters" element="tns:listMovieShowsAvailabilityOUT"/>
  </message>
  <message name="listMovieShowsAvailabilityOUTResponse">
    <part name="parameters" element="tns:listMovieShowsAvailabilityOUTResponse"/>
  </message>
  <portType name="OUTImpl">
    <operation name="logOUT">
      <input wsam:Action="http://example.com/out/OUTImpl/logOUTRequest" message="tns:logOUT"/>
      <output wsam:Action="http://example.com/out/OUTImpl/logOUTResponse" message="tns:logOUTResponse"/>
    </operation>
    <operation name="addMovieSlotsOUT">
      <input wsam:Action="http://example.com/out/OUTImpl/addMovieSlotsOUTRequest" message="tns:addMovieSlotsOUT"/>
      <output wsam:Action="http://example.com/out/OUTImpl/addMovieSlotsOUTResponse" message="tns:addMovieSlotsOUTResponse"/>
    </operation>
    <operation name="getBookingScheduleOUT">
      <input wsam:Action="http://example.com/out/OUTImpl/getBookingScheduleOUTRequest" message="tns:getBookingScheduleOUT"/>
      <output wsam:Action="http://example.com/out/OUTImpl/getBookingScheduleOUTResponse" message="tns:getBookingScheduleOUTResponse"/>
    </operation>
    <operation name="removeMovieSlotsOUT">
      <input wsam:Action="http://example.com/out/OUTImpl/removeMovieSlotsOUTRequest" message="tns:removeMovieSlotsOUT"/>
      <output wsam:Action="http://example.com/out/OUTImpl/removeMovieSlotsOUTResponse" message="tns:removeMovieSlotsOUTResponse"/>
    </operation>
    <operation name="cancelMovieTicketsOUT">
      <input wsam:Action="http://example.com/out/OUTImpl/cancelMovieTicketsOUTRequest" message="tns:cancelMovieTicketsOUT"/>
      <output wsam:Action="http://example.com/out/OUTImpl/cancelMovieTicketsOUTResponse" message="tns:cancelMovieTicketsOUTResponse"/>
    </operation>
    <operation name="bookMovieTicketsOUT">
      <input wsam:Action="http://example.com/out/OUTImpl/bookMovieTicketsOUTRequest" message="tns:bookMovieTicketsOUT"/>
      <output wsam:Action="http://example.com/out/OUTImpl/bookMovieTicketsOUTResponse" message="tns:bookMovieTicketsOUTResponse"/>
    </operation>
    <operation name="listMovieShowsAvailabilityOUT">
      <input wsam:Action="http://example.com/out/OUTImpl/listMovieShowsAvailabilityOUTRequest" message="tns:listMovieShowsAvailabilityOUT"/>
      <output wsam:Action="http://example.com/out/OUTImpl/listMovieShowsAvailabilityOUTResponse" message="tns:listMovieShowsAvailabilityOUTResponse"/>
    </operation>
  </portType>
  <binding name="OUTImplPortBinding" type="tns:OUTImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="logOUT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addMovieSlotsOUT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBookingScheduleOUT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeMovieSlotsOUT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelMovieTicketsOUT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookMovieTicketsOUT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listMovieShowsAvailabilityOUT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OUTImplService">
    <port name="OUTImplPort" binding="tns:OUTImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

